$bpDesktop: 1366px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 768px;
$bpPhone: 480px;

// set font
$baseFont: "Montserrat", "Arial", sans-serif;

// set setting color
$pageColor: #ffffff;
$darkColor: #201F1F;
$primaryColor: #0071CE;
